.carousel-background {
  width: 100%;
  height: 100vh;
  background-color: #f1f4f3;
  padding: 5rem;
  h1 {
    font-size: 1.7rem;
  }
  .swiper-container {
    position: relative;
    margin-top: 5rem;
    .swiper-button-prev {
      width: 62px;
      height: 62px;
      background-color: gray;
      border-radius: 50%;
      margin-left: -60px;
      z-index: 2;
    }
    .swiper-button-prev::after {
      font-size: 1.265rem;
      color: white;
    }
    .swiper-button-next {
      width: 62px;
      height: 62px;
      background-color: gray;
      border-radius: 50%;
      margin-right: -65px;
      z-index: 2;
    }
    .swiper-button-next::after {
      font-size: 1.265rem;
      color: white;
    }
    .swiper {
      margin: 0px 20px 0px 20px;
      padding: 18px;
    }
  }
}

@media screen and(max-width:400px) {
  .carousel-background {
    height: auto;
  }
}
